
body {
    font-family: 'Times New Roman', Times, serif;
    background-color:blueviolet;
    margin: 0;
    padding: 0;
}

header {
    background-color:black;
    color:goldenrod;
    text-align: center;
    padding: 20px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

section {
    margin: 40px;
    padding: 20px;
    background-color:palevioletred;
    border-radius: 5px;
}

.project {
    margin: 20px 0;
}

